*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background: #faf8e5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
}
/* ------------------ Start Navbar style ------------------ */
.header_home
{
    color: rgb(10, 0, 0);
    box-sizing: content-box;
}
.main_nav
{
    width: 100%;    
    padding: 1% 5%;
}
.logo-compagny
{
    text-align: center;
    margin-bottom: 20px;
    color: white;
}
.cont-nav
{
    display: block;
}
.research_nav
{
    margin-right: 30%;
    margin-left: 10%;
    width: 2 0%;
}
.nav-link
{
    color: white;
    font-size: 1.2rem;
}
.text_nav
{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Jim Nightshade';
    padding-top: 10%;
    padding-bottom: 20px;
}
.text_nav h1
{
    font-family: 'Arial, Helvetica, sans-serif';
    font-size: 30px;
}
.text_nav h4
{
    font-size: 70px;
    font-weight: 300;
}
.nav-item
{
    text-transform: uppercase;
}

/* ----------------- End Navbar style ----------------- */


/* ----------------- Start Main style ----------------- */

.main-product
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    padding-top: 1%;
    
}
.main-product .mn-pro-text
{
    margin-left: 40%;
    margin-right:40%;
    background: #261C19;
    text-align: center;
    padding: 1.3%;
    color: white;
    border-radius: 27px;
}
.contenu
{
    width: 100%;
    display: block;
}
.product_contain
{
    display: flex;
    margin-left: 7.5%;
    width: 30%;
    text-align: center;
}

.show_product img
{
    border-radius: 15px;
    margin-bottom: 15px;
}
.panier_product
{
    color: white;
    text-align: center;
    width: 200px;
    background-color: #ffc107;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: 0;
}
.panier_product:hover
{
    background-color: wheat;
}
.product-card
{
    max-width: 1300px;
    width: 80%;
    height: auto;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    grid: 10px;
} 
.product-item
{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 2%;
    background: white;
    text-align: center;
    width: 287px;
    height: 370px;
}

main .title-main
{
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
    margin-left: 9%;
    margin-right: 9%;
    margin-top: 10%;
}
main .menu-main
{
    margin-left: 10%;
    margin-top: 1.4rem;
}
main .pag-nav
{
    margin: 5%;
}
main .formulaire
{
    /*width: max-content;*/
    margin: 5px;
}
main .formulaire .form-group
{
    padding: 7px;
}
main .formulaire .form-group .group-text
{
    margin-bottom: 8px;
}
main .card-opered
{
    padding: 5% 20%;
}

/* ----------------- Start Main style ----------------- */
/* ----------------- Start Footer style ----------------- */
footer
{
   width: 100%;
}
.info
{
    list-style: none;
    margin: 10px 0;
}
.info .fa-solid
{
    margin-right: 2%;
    font-size: 16px;
    width: 20px;
    margin-bottom: 5px;
}


@media screen and (max-width: 500px)
{
    .mn-pro-text 
    {
        font-size: 80%;
    }
}

@media screen and (max-width: 850px)
{
    .text_nav
    {
        margin-top: 20%;
    }
    .title_na
    {
        margin-top: 25%;
    }
}